@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: ; */
}

body {
  /* background: red; */
}


.leftAnimation .image:nth-child(even) {
  width: 60px;
  height: 60px;
  position: absolute;
  animation: scaleAnimation 4s infinite;
  /* Use the keyframes animation */
}

.leftAnimation .image:nth-child(odd) {
  width: 60px;
  height: 60px;
  position: absolute;
  animation: scaleAnimation 5s infinite;
  /* Use the keyframes animation */
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.reward {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "data1 illustration1"
    "data1 data2"
    "illustration2 data2";
  gap: 35px;
}

.data1 {
  grid-area: data1;
}

.illustration1 {
  grid-area: illustration1;
}

.data2 {
  grid-area: data2;
}

.rewardV {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-bottom: 10px;
  gap: 10px;
}

.project1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  gap: 10px;
}

@media screen and (max-width:770px) {

  .reward {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "data1 data1"
      "data2 data2";
  }

  .illustration1,
  .illustration2 {
    display: none;
  }

  .project,
  .project1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}






.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px;
}

.item1 {
  display: grid;
  grid-template-rows: 1fr 200px;
  gap: 20px;
}

.item2 {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-auto-flow: row dense;
  gap: 20px;
}



@media screen and (max-width: 770px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item1,
  .item4 {
    grid-row: auto;
    grid-column: auto;
  }
}


/* framer */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: green;
  transform-origin: top;
}